@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
.table-bordered {
  border: '1px solid #eceeef' !important
}
.top-header {
  background-color: #000;
  color: #fff;
  height: 22px;
  line-height: 22px;
  
  font-size: 13px;
  padding: 0;
}
.time-open {
  display: block;
  float: left;
  /* position: absolute; */
  width: 285px;
  /* box-sizing: border-box; */
  /* text-size-adjust: 100%; */
  margin-top: 0px;
  line-height: 22px;
  margin-left: 79px;
}
.top-login {
  margin-right: 79px;
}
.top-login li {
  display: block;
  float: right;
  list-style: none;
  line-height: 22px;
  /* margin-right: 79px; */
  /* position: absolute; */
}
.top-login li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.top-login li a:hover {
  color: #f9a678;
}

.site-header-inner {
  display: flex;
  margin: 0 79px;
}
.header-left {
  width: 263px;
}
.header-center {
  display: flex;
  align-items: center;
}
.search-text {
  /* float: left; */
  height: 40px;
  width: 700px;
  text-align: left;
  border: 1px solid #e5e5e5;
  margin: 0;
  clear: right;
}
.btn-search {
  height: 40px;
  width: 42px;
  background-color: #de1e33;
  color: #fff;
  border: 1px solid #de1e33;
  text-align: center;
  border-radius: 0;
}
.bot-header {
  margin: 0 79px;
}
.bot-header .contener {
  display: flex;
  align-items: center;
  background-color: #e9ebee;
}
.bot-header-left a {
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 235px;
}
.bot-header-left a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  /* line-height: 16px; */
  font-size: 14px;
}
.bot-header-left .menu-icon {
  font-size: 16px;
  font-weight: 900;
  padding: 0 8px;
}
.bot-header-center {
  flex: 1;
}
.bot-header-center ul {
  display: flex;

}
.bot-header-center ul li {
  display: flex;
  align-items: center;
  margin-left: 18px;
}
.bot-header-center li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 650;
  font-size: 14px;
}
.bot-header-center li a img {
  height: 40px;
}
.bot-header-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.bot-header-right p {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.bot-header-right .hotline {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding-left: 10px;
}
.body {
  margin: 0 79px;
}
.body .highlight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ebee;

}
.highlight-info p {
  margin: 5px 0;
}

.footer {
  background-color: #000;
  padding: 0 100px;
 
}
.footer-contener {
  display: flex;
  margin-bottom: 30px;
}
.footer-item {
  flex: 1;
  margin: 40px 0 10px 0;

}
.footer-tilte {
  font-size: 13px;
  color: #959595;
  line-height: 28px;
}
.footer-menu-tilte {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #d2d2d2;
  display: block;
  text-transform: uppercase;
}
.footer-menu  {
  list-style: none;
  flex-wrap: wrap ;
  font-size: 13px;
  line-height: 24px;
  
}
.footer-menu > li > a {
  line-height: 24px;
  list-style: none;
  text-decoration: none;
  color: #959595;
  
}
.info-web {
  font-size: 14px;
  line-height: 1.7;
  font-family: Arial, serif;
  color: #898989;
  text-align: left!important;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 30px;

}
.btn-call-now {
  line-height: 1.7;
  font-family: Arial, serif;
  display: block;
  height: 50px;
  position: fixed;
  box-sizing: border-box;
  width: 200px;
  bottom: 10px;
  background: #de1e33;
  text-decoration: none;
  box-shadow: 0 0 5px #ddd;
  z-index: 999999;
  left: 2px;
  color: #FFF;
  font-weight: 900;
  font-size: 125%;
  border-radius: 25px;
  padding: 5px;
}
.return-to-top {
  box-sizing: border-box;
  color: #333;
  background: transparent;
  position: fixed;
  bottom: 150px;
  right: 10px;
  background-color: #de1e33;
  width: 45px;
  height: 45px;
  
  text-decoration: none;
  border-radius: 35px;
  display: flex;
}
.double-up {
  margin: 0;
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 19px;
  color: #fff;
  line-height: 18px;
  display: inline-block;
 
}

